<div class="row">
    <div class='col-md-12'>
        <%= form_for(@article, :html => {class: "form-horizontal", role: "form"}) do |f| %>
        <% if @article.errors.any? %>
        <div class="panel panel-danger col-md-offset-1">
            <div class="panel-heading">
                <h2 class="panel-title">
                    <%= pluralize(@article.errors.count, "error") %>
                    prohibited this article from being saved:
                </h2>
            </div>
        </div>
    </div>
</div>